// Modal
@include keyframes (slide-down) {
  0% {max-height:0;}
  100% {max-height:500px;}
}
@include keyframes (slide-up) {
  0% {max-height:500px;}
  100% {max-height:0;}
}

@include keyframes (expand-modal) {
  0% {max-height:0; padding: 0 20px;}
  30% {padding: 0 20px;}
  100% {max-height:800px;padding: 10px 20px;}
}
@include keyframes (contract-modal) {
  0% {max-height:800px;padding:30px 20px 10px;}
  70% {max-height:0;}
  100% {max-height:0; padding: 0 20px;}
}
@include keyframes (show-text) {
  0% {opacity:0;}
  70% {opacity:.5;}
  100% {opacity:1;}
}
@include keyframes (wide-modal) {
  0% {width:220px;}
  100% {width:500px;}
}
@include keyframes (slim-modal) {
  0% {width:500px;}
  100% {width:220px;}
}
@include keyframes (rotate90) {
  0% { @include transform(rotate(0deg)); }
100% { @include transform(rotate(180deg)); }
}
@include keyframes (return90) {
  0% { @include transform(rotate(180deg)); }
100% { @include transform(rotate(0deg)); }
}

@include keyframes (rotate90reverse) {
  0% { @include transform(rotate(180deg)); }
100% { @include transform(rotate(0deg)); }
}
@include keyframes (return90reverse) {
  0% { @include transform(rotate(0deg)); }
100% { @include transform(rotate(180deg)); }
}
// Loading Animation
@include keyframes(wait) {
  12.5%{
    background-position:   -4px, -4px, -4px, -4px, -4px;
  }
  25%{
    background-position: -4px, -4px, -4px, -4px, 0;
  }
  37.5%{
    background-position: -4px, -4px, -4px, 0, 6px;
  }
  50%{
    background-position: -4px, -4px, 0, 6px, 12px;
  }
  62.5%{
    background-position: -4px, 0, 6px, 12px, -4px;
  }
  75%{
    background-position:     0, 6px, 12px, -4px, -4px;
  }
  87.5%{
    background-position:   6px, 12px, -4px, -4px, -4px;  /* 1 */
  }
  100%{
    background-position:    12px, -4px, -4px, -4px, -4px;
  }
}

