// App Theme

$navbg: #202123;
$navborder: #191919;
$navliborder: #2A2A2A;
$navlink: #90949A;
$nav-active: #61E699;
$nav-inactive: #3A3B3E;
$topborder: #575C64;
$white: #FFFFFF;
$ltbg: #F2F4F5;
$ltborder: #D7DDE5;
$ltgray: #E3E5E8;
$dkgray: #676C74;
$lticon: #B8BCBF;
$lticonhover: #909599;
$text: #222222;
$blue: #4E97E2;
$bluehover: #61A5EB;
$bluedarktint:#3381D2;
$green: #4AAE74;
$orange: #F4952F;
$red: #E54141;
$redhover: #F44747;

// Dashboard Theme
$dkbg: #2b2d30;
$dkborder: #414348;
$dkheading: #d0d5de;
$dklink: #54e3f4;
$dklabelbg: #47494d;
$dklabeltxt: #cccccc;
$dkgreenbadge: #49AE74;
$dkbtn: #3282F1;
$dkbtnhover: #50A1F7;
$dktext: #DDDDDD;
$dkgreen: #61e699;
$dkred: #f45454;
$dksubhead: #90949a;
$dkdisabled: #202224;
$dkdropdown: #35373b;