// Needs a lot of Work

// Vertical Nav
// Background Grey #202123
// Border Right #191919
// Border bottom #333
// Font Colors #333 and #fff



// App Colors
// Grey's for the canvas area
$primarylt: #f2f4f5;
$primarymdlt:#d7dde5;
$primarymd:#a7afb8;
$primarymdk:#93989e;
$primarydk:#616568;


// Colors
$navbg: #202123;
$navborder: #191919;
$navliborder: #2A2A2A;
$navlink: #90949A;
$nav-active: #61E699;
$nav-inactive: #3A3B3E;
$topborder: #575C64;
$white: #FFFFFF;
$ltbg: #F2F4F5;
$ltborder: #D7DDE5;
$ltgray: #E3E5E8;
$dkgray: #676C74;
$lticon: #B8BCBF;
$lticonhover: #909599;
$text: #222222;
$blue: #4E97E2;
$bluehover: #61A5EB;
$bluedarktint:#3381D2;
$green: #4AAE74;
$orange: #F4952F;
$red: #E54141;
$redhover: #F44747;
