// Boilerplate Form Elements
input[type="text"],
input[type="number"],
input[type="url"],
input[type="email"],
input[type="password"],
select,
textarea {
	width: 100%;
	border: 0;
	font-size: 1em;
	color: $greydk;
	padding: 10px;
	line-height: 1em;
  &:disabled {
    opacity:.8;
  }
  .mobile & {
    font-size: 0.875em !important;
  }
}
input[type="number"],
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  @include appearance(none);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  line-height: normal;
}
::-moz-placeholder { /* Firefox 19+ */
  line-height: normal;
}
:-ms-input-placeholder { /* IE 10+ */
  line-height: normal;
}
:-moz-placeholder { /* Firefox 18- */
  line-height: normal;
}
textarea {
	height: 150px;
	margin: 5px 0px;
}

input[type="checkbox"] {
	-webkit-appearance: checkbox;
}

input[type="radio"] {
	-webkit-appearance: radio;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
button, input[type="submit"], a.button {
  @include transition(all ease-in .2s);   
}
button, input[type="submit"], .settings-section a.button {
	font-size: 1em;
	line-height: 1em;
  padding:12px 20px;
  background:$dkbtn;
  color:white;
  border:0;
  cursor:pointer;
  &:hover {
    background:$green;
  }
  &:active, &:focus {
    background:$red;
  }
  &.cancel {
    background:transparent;
    color:$dkgray;
    position:relative;
  }
  &.icon-button {
    padding: 0;
    position: relative;
    border-left: 45px solid $bluedarktint;
    padding: 12px 20px;
    background: $blue;
    svg.add,
    svg.minus {
      width: 26px;
      height: 26px;
      fill: white !important;
      position: absolute;
      top: 7px;
      left: -35px;
    }
    &:hover {
      background:$bluehover;
    }
  }
  &.icon-button-small {
    padding: 0;
    position: relative;
    border-left: 30px solid $bluedarktint;
    padding: 8px 10px;
    background: $blue;
    font-size: 0.875em;
    svg.add,
    svg.minus {
      width: 16px;
      height: 16px;
      fill: white !important;
      position: absolute;
      top: 7px;
      left: -23px;
    }
    &:hover {
      background:$bluehover;
    }
  }
  &.button-small {
    padding: 10px 20px;
    font-size: 0.8125em;
  }
}

.field-group {
  border-width:1px;
  position: relative;
  border-style:solid;
  border-color:$ltborder;
  @include align-items(stretch);
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-between);
  overflow:visible;
  position:relative;
  height: 42px;
  @include transition(all .1s linear);
  &.inactive {
    opacity:0;
  }
  &.active {
    margin:30px 0;
  }
  &.completed  {
    &:not(:last-of-type) {
      border-bottom-width:0;
      margin-bottom:1px;
    }
    input:not(:checked) + label {
      opacity:.6;
    }
  }
  &.search {
    border: 0;
    background-color: #fff;
    border: 1px solid #dcdee2;
    svg.search {
      fill: $blue;
      width: 20px;
      height: 20px;
      margin-top: 10px;
      margin-left: 10px;
    }
    input {
      padding: 12px !important;
      font-size: 0.75em !important;
    }
  }
  div.shortenBox {
    label {
      svg {
        fill:white;
        @include transition(all .1s linear);
        right:0;
        &.info, &.checkmark, &.down {
          display:none;
        }
      }
    }
    &.activated {
      label {
        svg {
          &.info {
            display:block;
          }
          &.down {
            display:block;
          }
          &.checkmark {
            display:none;
          }
        }
      }
    }
  }
  &.set {
    div.shortenBox {
      &.activated {
        input:checked + label {
          svg {
            fill:white;
            &.info {
              display:none;
            }
            &.checkmark {
              display:block;
            }
          }
        }
      }
      input:checked + label {
        color:$dkgray;
        svg {
          fill:$topborder;
          &.info {
            display:none;
          }
          &.checkmark {
            display:block;
          }
        }
      }
    }
  }
  &:last-of-type {
    border-width:1px;
  }
  &.vertical {
    height: auto;
    flex-wrap: wrap;
    border: 0;
    border-bottom: 1px solid #dcdee2;
    padding-bottom: 20px;
    margin-bottom: 20px !important;
    &.editting {
      .edit-fields {
        display: block;
      }
      .view-fields {
        display: none !important;
      }
    }
    label {
      padding-top: 0;
      padding-bottom: 0;
      height: auto;
      min-height: 100%;
      margin-bottom: 10px;
      color: #a9aeb1;
    }
    .fields {
      position: relative;
      select {
        width: 100%;
        padding: 0 25px;
        @include flex(0 0 100%);
      }
      .toggle {
        top: 0;
        left: 0px;
      }
    }
    .tag-list {
      margin-top: 20px;
    }
    .edit-fields {
      display: none;
      width: 100%;
      position: relative;
      &.add-keyword {
        display: block;

      }
      
      .add {
        top: 5px;
        right: 5px;
        width: 16px;
        height: 16px;
        fill: #a9aeb1;
        margin-left: 10px;
        position: relative;
        top: 2px;
        cursor: pointer;
        position: absolute;
      }
      input[type=text] {
        padding: 0 25px 0 0;
      }
    }
    .view-fields {
      width: 100%;
      .edit  {
       width: 16px;
        height: 16px;
        fill: #a9aeb1;
        margin-left: 10px;
        position: relative;
        top: 2px;
        cursor: pointer;
      }
    }
    
  }
  select {
    option:checked:not(:disabled) {
      color:$topborder;
    }
  }
  span.no-audience {
    width: 100%;
    border: 0;
    font-size: 1em;
    color: $dkgray;
    padding: 12px 20px 12px 45px;
    line-height: 1em;
    font-weight: normal !important;

  }
  > label {
    @include flex(0 0 33.3333%);
    background:$ltborder;
    font-size: 0.63em;
    font-weight: 400;
    letter-spacing: 1px;
    min-height: 40px;
    padding: 12px 20px;
    text-transform: uppercase;
    vertical-align: middle;
    &.full {
      @include flex(0 0 100%);
        max-width: 100%;
        background-color: transparent !important;
        border: 0;
        padding-left: 0;
        + * {
          @include flex(0 0 100%);
        }
    }
  }
  input:not([type="radio"]), div.budgetvalue {
    @include flex(1 1 64%);
    display: block;
    padding: 12px 20px 12px 45px;
    vertical-align: middle;
    font-size:1em;
    font-weight: 400;
  }
  > ul {
    @include flex(1 1 64%);
    @include align-items(stretch);
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-between);
    > li {
      @include flex(0 1 50%);
      position:relative;
      vertical-align: middle;
      > div {
        min-height:40px;
        @include transition(all .1s linear);
        label {
          font-size:1rem;
          font-weight: 400;
          padding: 12px 20px 12px 45px;
        }
         input[type="radio"],  
         input[type="checkbox"] {
          height:0;
          width:0;
          overflow:hidden;
          margin:0;
          padding:0;
          position:absolute;
          opacity:0;
        }
        input + label {
//          color:$dkgray;
          svg {
//            fill:$topborder;
            &.info {
              display:none;
            }
            &.checkmark {
              display:none;
            }
          }
        }
        input:checked + label {
          color:$dkgray;
          svg {
            fill:$topborder;
            &.info {
              display:none;
            }
            &.checkmark {
              display:block;
            }
          }
        }
        .content {
          position:relative;
          top:0;
          background:white;
          max-height:0;
          padding:0 20px;
          overflow:hidden;
          ul {
            margin:20px -20px 0;
          }
          li {
            padding: 6px 20px;
            &:hover {
              background:$ltbg;
            }
            &.selected {
              label {
                &:before {
                  border:2px solid $blue;
                  background-color: $blue;
                }
              }
            }
            label {
              font-size: 0.63em;
              font-weight: 400;
              letter-spacing: 1px;
              padding: 12px 20px;
              min-height: 40px;
              text-transform: uppercase;
              vertical-align: middle;
              &:before {
                border:2px solid $blue;
                width:1em;
                height:1em;
                border-radius:50%;
                display:inline-block;
                margin-right:6px;
              }
            }
          }
          > label {
            padding: 6px 0 6px 20px;
          }
        }
      }
      label {
        padding:0;
      }
    }
  }
  .selected {
    color:white;
    background:$dkbtn;
    > label {
      display: block;
    }
    input {
      color:white;
    }
    .content {
      padding: 12px 20px;
      max-height:400px;
    }
  }
  .activated {
    box-shadow:0 0 5px black;
    background:$dkbtn;
    margin-top:-4px;
    z-index:2;
    min-width:237px;
    > label {
      display: block;
      color:white;
    }
    .content {
      padding: 12px 20px;
      max-height:400px;
    }            
    svg {
      background-color: $blue;
      border-left: 1px solid $bluedarktint;
    }
  }
  .deactivated {
    z-index:1;
  }
  svg.toggle {
    position:absolute;
    left:calc(33.3333% + 20px);
    top:10px;
    bottom:10px;
    width:20px;
    height:20px;
    fill:$dkgray;
  }
  &.set#ad-content {
    li:not(.set) {
      @include flex-basis(0);
      @include flex-grow(0);
      overflow:hidden;
    }
  }
  li.set {
    @include flex-grow(1);
    @include transition(all, .1s linear);
    > div {
      overflow:hidden;
    }
    input:checked + label {
      svg {
        fill:$topborder;
        &.info {
          display:none;
        }
        &.checkmark {
          display:block;
        }
      }
    }

    &:not(:last-child) {
      border-right:1px solid $ltborder;
    }
    &:hover {
      span {
        display:inline;
      }
    }
  }
  
}

// Can be li or div child of .settings-group
.settings-section {
  padding:25px 0 40px;
  &.overview {
    @include align-items(space-between);
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    margin:0 -.5rem;
    > * { // li on Echange
      margin:.5rem 0;
      @include flex(0 1 32%);
      padding:12px 20px;
      border:1px solid $ltborder;
      background:white;
    }
    > input[type="submit"], .button {
      @include flex(0 0 auto);
    }
    .field-group {
      display:block;
      border:1px solid $ltborder;
      background:white;
      width:100%;
      > label {
        display:block;
        @include flex(0 0 100%);
        margin:-12px -20px 0;
        box-sizing:content-box;
        min-height:initial;
      }
      input[type="text"], input[type="number"], input[type="url"], input[type="email"], select, textarea {
        margin:0 -20px -12px;
        background:white;
      }
    }
  }
  .special-option {
    margin:20px 0 20px 33.3333%;
    display:block;
    span {
      padding:12px 20px;
      cursor:pointer;
      display:block;
    }
    label, ul {
      display:none;
    }
    &.show-option {
      max-width:440px;
      max-height:40px;
      position:relative;
      background:white;
      box-shadow:0 0 5px black;
      vertical-align:baseline;
      span {
        display:none;
      }
      label, & ul {
        display:inline-block;
      }
      > label {
        padding:12px 20px;
        background:$dkbtn;
        color:white;
      }
      ul {
        li {
          display:inline-block;
          padding:12px 20px;
          label {
            padding-left:6px;
          }
        }
        .reset {
          position:absolute;
          top:0;
          right:0;
          bottom:0;
          padding:10px;
          border-left:1px solid $ltborder;
          svg {
            width:20px;
            height:20px;
            fill:$ltborder;
          }
        }
      }
    }
  }
  > label {
    background-color: $ltborder;
    display: block;
    font-size: 0.63em;
    font-weight: 400;
    letter-spacing: 1px;
    min-height: 40px;
    padding: 10px 20px;
    text-transform: uppercase;
    vertical-align: baseline;
    width: 218px;
  }
  input:not([type="submit"]) {
    background:$ltbg;
  }
  select {
    @include appearance(none);
    width:120%;
    padding-left:45px;
    background:transparent;
    z-index:1;
    &:focus {
      background:white;
    }
    option {
      background:white;
    }
  }
  button {
    display:inline-block;
    &:first-of-type {
      margin:20px 20px 20px 33.3333%;
    }
  }
}
// Parent element of dissabled form item
.disabled {
  opacity:.44;
}

.button-group {
  width: 100%;
  @include display(flex);
  justify-content: center;
  .buttons {
     @include flex(0 0 auto);
     -webkit-box-shadow: 1px 1px 0 0 rgba(135,135,135,.35);
    box-shadow: 1px 1px 0 0 rgba(135,135,135,.35);
    border-radius: 3px;
    overflow: hidden;

  }
  button {
    color: #c4c4c4;
    padding: 5px 15px;
    text-transform: uppercase;
    background-color: #fff;
    font-size: 0.6875em;
    margin: 0 !important;
    float: left;
    &.active {
      background-color: #4682da;
      color: $white;
    }
  }
}