// Boilerplate Form Elements
input[type="text"],
input[type="number"],
input[type="url"],
input[type="email"],
select,
textarea {
	width: 100%;
	border: 0;
	font-size: 1em;
	color: $greydk;
	padding: 10px;
	line-height: 1em;
  &:disabled {
    opacity:.8;
  }
}
input[type="number"],
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  @include appearance(none);
}
textarea {
	height: 150px;
	margin: 5px 0px;
}

input[type="checkbox"] {
	-webkit-appearance: checkbox;
}

input[type="radio"] {
	-webkit-appearance: radio;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
button, input[type="submit"], a.button {
  @include transition(all ease-in .2s);   
}
button, input[type="submit"], .settings-section a.button {
	font-size: 1em;
	line-height: 1em;
  padding:12px 20px;
  background:#3282f1;
  color:white;
  border:0;
  cursor:pointer;
  &:hover {
    background:#4AAE74;
  }
  &:active, &:focus {
    background:#E54141;
  }
  &.cancel {
    background:transparent;
    color:#616568;
    position:relative;
  }
}

.field-group {
  border-width:1px;
  position: relative;
  border-style:solid;
  border-color:#D7DDE5;
  @include align-items(stretch);
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-between);
  overflow:visible;
  position:relative;
  height: 42px;
  @include transition(all .1s linear);
  &.inactive {
    opacity:0;
  }
  &.active {
    margin:30px 0;
  }
  &.completed  {
    &:not(:last-child) {
      border-bottom-width:0;
      margin-bottom:1px;
    }
    input:not(:checked) + label {
      opacity:.6;
    }
  }
  div.shortenBox {
    label {
      svg {
        fill:white;
        @include transition(all .1s linear);
        right:0;
        &.info, &.checkmark, &.down {
          display:none;
        }
      }
    }
    &.activated {
      label {
        svg {
          &.info {
            display:block;
          }
          &.down {
            display:block;
          }
          &.checkmark {
            display:none;
          }
        }
      }
    }
  }
  &.set {
    div.shortenBox {
      &.activated {
        input:checked + label {
          svg {
            fill:white;
            &.info {
              display:none;
            }
            &.checkmark {
              display:block;
            }
          }
        }
      }
      input:checked + label {
        color:#2f3032;
        svg {
          fill:#616568;
          &.info {
            display:none;
          }
          &.checkmark {
            display:block;
          }
        }
      }
    }
  }
  &:last-of-type {
    border-width:1px;
  }
  select {
    option:checked:not(:disabled) {
      color:#616568;
    }
  }
  span.no-audience {
    width: 100%;
    border: 0;
    font-size: 1em;
    color: #2f3032;
    padding: 12px 20px 12px 45px;
    line-height: 1em;
    font-weight: normal !important;

  }
  > label {
    @include flex(0 0 33.3333%);
    background:#D7DDE5;
    font-size: 0.63em;
    font-weight: 400;
    letter-spacing: 1px;
    min-height: 40px;
    padding: 12px 20px;
    text-transform: uppercase;
    vertical-align: middle;
  }
  input:not([type="radio"]), div.budgetvalue {
    @include flex(1 1 64%);
    display: block;
    padding: 12px 20px 12px 45px;
    vertical-align: middle;
    font-size:1em;
    font-weight: 400;
  }
  > ul {
    @include flex(1 1 64%);
    @include align-items(stretch);
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-between);
    > li {
      @include flex(0 1 50%);
      position:relative;
      vertical-align: middle;
      > div {
        min-height:40px;
        @include transition(all .1s linear);
        label {
          font-size:1rem;
          font-weight: 400;
          padding: 12px 20px 12px 45px;
        }
         input[type="radio"],  
         input[type="checkbox"] {
          height:0;
          width:0;
          overflow:hidden;
          margin:0;
          padding:0;
          position:absolute;
          opacity:0;
        }
        input + label {
//          color:#2f3032;
          svg {
//            fill:#616568;
            &.info {
              display:none;
            }
            &.checkmark {
              display:none;
            }
          }
        }
        input:checked + label {
          color:#2f3032;
          svg {
            fill:#616568;
            &.info {
              display:none;
            }
            &.checkmark {
              display:block;
            }
          }
        }
        .content {
          position:relative;
          top:0;
          background:white;
          max-height:0;
          padding:0 20px;
          overflow:hidden;
          ul {
            margin:20px -20px 0;
          }
          li {
            padding: 6px 20px;
            &:hover {
              background:#F2F4F5;
            }
            &.selected {
              label {
                &:before {
                  border:2px solid #2662B5;
                  background-color: #2662B5;
                }
              }
            }
            label {
              font-size: 0.63em;
              font-weight: 400;
              letter-spacing: 1px;
              padding: 12px 20px;
              min-height: 40px;
              text-transform: uppercase;
              vertical-align: middle;
              &:before {
                border:2px solid #2662B5;
                width:1em;
                height:1em;
                border-radius:50%;
                display:inline-block;
                margin-right:6px;
              }
            }
          }
          > label {
            padding: 6px 0 6px 20px;
          }
        }
      }
      label {
        padding:0;
      }
    }
  }
  .selected {
    color:white;
    background:#3282F1;
    > label {
      display: block;
    }
    input {
      color:white;
    }
    .content {
      padding: 12px 20px;
      max-height:400px;
    }
  }
  .activated {
    box-shadow:0 0 5px black;
    background:#3282F1;
    margin-top:-4px;
    z-index:2;
    min-width:237px;
    > label {
      display: block;
      color:white;
    }
    .content {
      padding: 12px 20px;
      max-height:400px;
    }            
    svg {
      background-color: #2662B5;
      border-left: 1px solid #5B9BF4;
    }
  }
  .deactivated {
    z-index:1;
  }
  svg.toggle {
    position:absolute;
    left:calc(33.3333% + 20px);
    top:10px;
    bottom:10px;
    width:20px;
    height:20px;
    fill:#72767A;
  }
  &.set#ad-content {
    li:not(.set) {
      @include flex-basis(0);
      @include flex-grow(0);
      overflow:hidden;
    }
  }
  li.set {
    @include flex-grow(1);
    @include transition(all, .1s linear);
    > div {
      overflow:hidden;
    }
    input:checked + label {
      svg {
        fill:#616568;
        &.info {
          display:none;
        }
        &.checkmark {
          display:block;
        }
      }
    }

    &:not(:last-child) {
      border-right:1px solid #d7dde5;
    }
    &:hover {
      span {
        display:inline;
      }
    }
  }
  
}

// Can be li or div child of .settings-group
.settings-section {
  padding:25px 0 40px;
  &.overview {
    @include align-items(space-between);
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    margin:0 -.5rem;
    > * { // li on Echange
      margin:.5rem 0;
      @include flex(0 1 32%);
      padding:12px 20px;
      border:1px solid #d7dde5;
      background:white;
    }
    > input[type="submit"], .button {
      @include flex(0 0 auto);
    }
    .field-group {
      display:block;
      border:1px solid #d7dde5;
      background:white;
      > label {
        display:block;
        @include flex(0 0 100%);
        margin:-12px -20px 0;
        box-sizing:content-box;
        min-height:initial;
      }
      input[type="text"], input[type="number"], input[type="url"], input[type="email"], select, textarea {
        margin:0 -20px -12px;
        background:white;
      }
    }
  }
  .special-option {
    margin:20px 0 20px 33.3333%;
    display:block;
    span {
      padding:12px 20px;
      cursor:pointer;
      display:block;
    }
    label, ul {
      display:none;
    }
    &.show-option {
      max-width:440px;
      max-height:40px;
      position:relative;
      background:white;
      box-shadow:0 0 5px black;
      vertical-align:baseline;
      span {
        display:none;
      }
      label, & ul {
        display:inline-block;
      }
      > label {
        padding:12px 20px;
        background:#3282f1;
        color:white;
      }
      ul {
        li {
          display:inline-block;
          padding:12px 20px;
          label {
            padding-left:6px;
          }
        }
        .reset {
          position:absolute;
          top:0;
          right:0;
          bottom:0;
          padding:10px;
          border-left:1px solid #D7DDE5;
          svg {
            width:20px;
            height:20px;
            fill:#D7DDE5;
          }
        }
      }
    }
  }
  > label {
    background-color: $primarymdlt;
    display: block;
    font-size: 0.63em;
    font-weight: 400;
    letter-spacing: 1px;
    min-height: 40px;
    padding: 10px 20px;
    text-transform: uppercase;
    vertical-align: baseline;
    width: 218px;
  }
  input {
    background:$primarylt;
  }
  select {
    @include appearance(none);
    width:120%;
    padding-left:45px;
    background:transparent;
    z-index:1;
    &:focus {
      background:white;
    }
    option {
      background:white;
    }
  }
  button {
    display:inline-block;
    &:first-of-type {
      margin:20px 20px 20px 33.3333%;
    }
  }
}
// Parent element of dissabled form item
.disabled {
  opacity:.44;
}