input[type=text],
select,
textarea {
	width: 100%;
	border: 0;
	font-size: 1em;
	color: $greydk;
	padding: 10px;
	line-height: 1em;
}

textarea {
	height: 150px;
	margin: 5px 0px;
}

input[type=checkbox] {
	-webkit-appearance: checkbox;
}

input[type=radio] {
	-webkit-appearance: radio;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
// Can be li or div child of .settings-group

.settings-section {
  padding:25px 0 40px;
  > .field-group {
    border-right: 1px solid $primarymdlt;
    border-top: 1px solid $primarymdlt;
    display: table;
    list-style: outside none none;
    margin-bottom: 1px;
    position: relative;
    width: 100%;
    background:$primarylt;
    overflow:hidden;
    &:last-of-type {
      border-bottom: 1px solid $primarymdlt;
    }
  }
  .special-option {
    margin:20px 0 20px 33.3333%;
    display:block;
    span {
      padding:12px 20px;
      cursor:pointer;
      display:block;
    }
    label, ul {
      display:none;
    }
    &.show-option {
      max-width:440px;
      max-height:40px;
      position:relative;
      background:white;
      box-shadow:0 0 5px black;
      vertical-align:middle;
      span {
        display:none;
      }
      label, & ul {
        display:inline-block;
      }
      > label {
        padding:12px 20px;
        background:#3282f1;
        color:white;
      }
      ul {
        li {
          display:inline-block;
          padding:12px 20px;
          label {
            padding-left:6px;
          }
        }
        .reset {
          position:absolute;
          top:0;
          right:0;
          bottom:0;
          padding:10px;
          border-left:1px solid #D7DDE5;
          svg {
            width:20px;
            height:20px;
            fill:#D7DDE5;
          }
        }
      }
    }
  }
  > label {
    background-color: $primarymdlt;
    display: block;
    font-size: 0.63em;
    font-weight: 400;
    letter-spacing: 1px;
    min-height: 40px;
    padding: 10px 20px;
    text-transform: uppercase;
    vertical-align: middle;
    width: 218px;
  }
  input {
    background:$primarylt;
  }
  select {
    width:120%;
    margin-left:45px;
    background:transparent;
    &:focus {
      background:white;
    }
    option {
      background:white;
    }
  }
}
// Parent element of dissabled form item
.disabled {
  opacity:.44;
}