.icon {
	background-repeat: no-repeat;
  fill:white;
  &.iconname {
    // Icon specific styles
  }
  .app .primary &, .app .user & {
    fill:$primarydk;
  }
}

.icon-block {border:1px solid #555;display:inline-block;padding:0.25em;}