// Top Level Vertical Navigation

nav.v {
  display:none;
  // To-do Mobile Navigation Handling
  @include media($tablet) {
    position:fixed;
    bottom:0;
  	width: 270px;
  	vertical-align: top;
  	background-color: #202123;
  	display: table;
  	min-height: 100%;
  	border-right: 1px solid #191919;
    display:block;
    float:left;
  }
  ul {
    padding-top:63px;
    margin:0 20px;
    > li {
      font-size:12.5px;
      letter-spacing:3px;
      text-transform:uppercase;
      padding:20px 30px;
      border-bottom:1px solid $greymid;
      position: relative;
      a{
        color: #90949a;
        @include transition(all 100ms ease-in 50ms);    
        &:hover{
          color: #ffffff;
        }
      }
      &:before {
        display: block;
        content: "";
        position: absolute;
        left: 2px;
        border-radius: 50%;
        top: 1.6em;
        width: .8em;
        height: .8em;
        background-color: #3a3b3e;
      }
      &:first-child{
        border-top: 1px solid $greymid;
      }
      ul {
        li {
          text-transform:none;
        }
      }
    }
  }
  a {
    display:block;
    color:$greylt;
    text-decoration: none;
    font-weight: 300;
    font-size: 0.9em;
  }
}
