// Top Level Vertical Navigation
nav.v {
//  display: none;
  // To-do Mobile Navigation Handling
  display:block;
  @include flex(0 0 250px);
	background-color: $navbg;
  position:fixed;
  overflow-y:scroll;
  top:65px;
  bottom:0;
  left:0;
  right:0;
	border-right: 1px solid $navborder;
  z-index:1;
  @include media($tablet) {
    top:0;
    position:relative;
    display:block;
    @include flex(0 0 270px);
  	background-color: $navbg;
  	min-height: 100%;
  	border-right: 1px solid $navborder;
  }
  > ul {
    position:relative;
    padding-top:69px;
    margin:0 10px;
    width:230px;
    > li {
      font-size:12.5px;
      letter-spacing:3px;
      text-transform:uppercase;
      padding:24px 30px;
      border-bottom:1px solid $greymid;
      position: relative;
      .show-sub {
        overflow: visible !important;
        max-height: 500px !important;  
        li {
          display: block !important;
        }
      }
      &.has-children{
        &.active {
          ul:not(.contract)  {
            -webkit-animation: none !important;
            animation: none !important;
          }
        }
        ul {
          overflow:hidden;
    			.icon {
    				left: -2.4em;
    				right: auto;
    				top: 1em;
    				-webkit-transition: all 200ms cubic-bezier(0.86, 0, 0.07, 1) 50ms;
    	      transition:         all 200ms cubic-bezier(0.86, 0, 0.07, 1) 50ms;
    				@include media($notebook) {
    					width: 1.2em;
    					height: 1.2em;
    					left: -2.4em;
    					right: auto;
    					top: .25em;
    				}
    			}
        }
        &:before {
          border-radius:0;
          background:transparent;
          border-bottom: 6px solid transparent;
          border-left: 8px solid $topborder;
          border-top: 6px solid transparent;
          content: "";
          display: block;
          left: 3px;
          position: absolute;
          top: 24px;
          transition: all 300ms cubic-bezier(0.86, 0, 0.07, 1) 50ms;
          width: 0;
        }
        &.active,
        &.expand {
          &:before {
            @include transform(rotate(90deg));
          }
          li {
            display: block !important;
          }
          ul {
            overflow:visible;
            @include animation(slide-down .2s linear forwards);
          }

        }
        &.contract {
          ul {
            @include animation(slide-up .2s linear forwards);
          }
        }
        
      }
      a{
        color: $navlink;
        @include transition(all 100ms ease-in 50ms);    
        &:hover{
          color: $white;
          & + svg {
            fill:$white;
          }
        }
      }
			.icon {
        fill:$topborder;
        position:absolute;
				left: auto;
				right: 0;
				top: 1.625em;
        width: 1.2em;
        height: 1.2em;
				-webkit-transition: all 200ms cubic-bezier(0.86, 0, 0.07, 1) 50ms;
	      transition:         all 200ms cubic-bezier(0.86, 0, 0.07, 1) 50ms;
				@include media($tablet) {
					//width: 1.6em;
					//height: 1.6em;
					//left:  0.2em;
					//right: auto;
				}
				@include media($notebook) {
          //          left: -2.4em;
          //          right: auto;
          //          top: 0.9em;
				}
			}
      svg {
        float:right;
      }
      &:before {
        display: block;
        content: "";
        position: absolute;
        left: 2px;
        border-radius: 50%;
        top: 24px;
        width: .8em;
        height: .8em;
        background-color: $nav-inactive;
      }
      &.active{
        a {
          color: $white;
        }
        &:before {
          //background-color: $nav-active;
        }
        .icon {
          fill:$white;
        }
      }
      &:first-child{
        border-top: 1px solid $greymid;
      }
      ul {
        max-height:0;
        overflow:hidden;
        margin:0;
        padding:0;
        li {
          color: $navlink;
          letter-spacing: 1px;
          list-style-type: none;
          margin: 1em 0 0;
          position: relative;
          &:before {
            display: block;
            content: "";
            position: absolute;
            left: -29px;
            border-radius: 50%;
            top: 0;
            width: .8em;
            height: .8em;
            background-color: $nav-inactive;
          }
          &.active {
            &:before {
              background-color: $nav-active;
            }
          }
          &:first-of-type {
            margin: 2em 0 0;
          }
          a {
            span {
              letter-spacing:0;
              line-height:1em;
              text-transform:none;
              display:block;
            }
          }
        }
      }
    }
  }
  a {
    display:block;
    color:$greylt;
    text-decoration: none;
    font-weight: 300;
    font-size: 0.9em;
    line-height:1em;
  }
}

// Vertical Navigation Menu toggle icon
.v-nav-toggle {
  background:transparent;
  position:relative;
  z-index:10;
  margin:-15px 0;
  left:0;
  padding:0;
  width:50px;
  height:50px;
  @include bgimg;
  overflow-y:visible;
  @include media($tablet) {
    display:none;
  }
}
.nav-menu {
  cursor:pointer;
  position:absolute;
  width:50px;
  height:50px;
  top:0;
  left:0;
  right:0;
  bottom:0;
  fill:$white;
  padding:12px;
}
