.primary {
//  @include flex-grow(2);
  @include flex(1 1 75%);
  padding: 4px 15px 22rem;
  @include media($tablet) {
    min-height:772px;
  }
  > header {
    padding:15px 0 22px;
    .app & {
      border-bottom:1px solid #d7dde5;
    }
    h2 {
      margin:0.2em 0 0 14px;
    }
  }
  .main {  // Changed to .overview .main still used on Exchange
      @include align-items(space-between);
      @include display(flex);
      @include flex-direction(row);
      @include flex-wrap(wrap);
      @include justify-content(space-between);
      margin:0 -.5rem;
      > * { // li on Echange
        margin:.5rem;
        @include flex(1 1 24%);
        padding:12px 20px;
        border:1px solid #d7dde5;
        background:white;
      }
  }
  
}