.primary {
  @include flex-grow(2);
  position:relative;
  padding: 0 15px;
  > header {
    padding:15px 0 22px;
    .app & {
      border-bottom:1px solid #d7dde5;
    }
    h2 {
      margin:0.2em 0 0 14px;
    }
  }
}