table{
	margin: 1.5em 0 1em;
	width: 100%;
	font-weight: 300;
	font-size: 1em;
	text-align: left;
	border-collapse: collapse;
  border-spacing: 0;
	white-space: nowrap;
	table-layout:fixed;
	colgroup{
		display: none;
		@include media($tablet) {
			display: table-column-group;
		}
	}
	thead{
		display: none;
		@include media($tablet) {
			display: table-header-group;
		}
	}
	col{
		width: 100%;
	}
	tr{
    display: table-row;
    body.dashboard & {
  		border-bottom: 1px solid $dkborder;
  		&.link-item{
  			&:hover{
  				background-color: $white;
  			}
  		}
    }
    body.app & {
  		border-bottom: 1px solid $ltborder;
  		&.link-item{
  			&:hover{
  				background-color: $white;
  			}
  		}
    }
    &:first-of-type {
      @include media($tablet) {
        border-top-width: 0;
      }      
    }
	}
	th{
		font-weight: 300;
		text-transform: uppercase;
		font-size: 0.75em;
		letter-spacing: 0.07em;
		padding-bottom: 0.5em;
		&:first-of-type{
			padding-left: 0.5em;
		}
    body.dashboard & {
  		color: $dklabeltxt;
    }
    body.app & {
      color: #676c74;
    }
	}
	.actions{
		text-align: left;
		padding-right: 10px;
		@include media($tablet) {
			text-align: right;
		}
	}
	td{
		vertical-align: middle;
		padding: 0.5em 0 0.5em;
		font-weight: 300;
		display: block;
		word-wrap: break-word;
  	overflow: hidden;
  	text-overflow: ellipsis;
		padding-left: 0.5em;
		@include media($tablet) {
			display: table-cell;
			padding-left: 0;
			padding: 1em 0 0.9em;
		}
		&:first-of-type{
			padding-left: 0.5em;
			padding-top: 1.2em;
			@include media($tablet) {
				padding-top: 1em;
			}
		}
		&:last-of-type{
			padding-top: 0.5em;
			padding-bottom: 1.4em;
			@include media($tablet) {
				padding-bottom: 0.9em;
			}
		}
		a{
			font-weight: 300;
		}
	}
	.small-btn{
		padding: 0.8em 1.5em 0.6em;
		font-size: 0.7em;
		color: white;
		text-transform: uppercase;
		letter-spacing: 0.1em;
    body.dashboard & {
  		background-color: $lticon;
  		&:hover{
  			background-color: $blue;
  		}
    }
    body.app & {
      background-color: $lticon;
      &:hover{
        background-color: $blue;
      }
    }
	}
}
