.user {
  position:absolute;
  right:15px;
  top:8px;
  min-width:136px;
  // To-do Mobile Interface for .user content
  a {
    color:#ccc;
    text-decoration:none;
    @include transition(all 100ms ease-in 500ms);   
    &:hover {
      color:white;
    }
  }
  h6 {
    padding:5px 0 5px 0;
    cursor:pointer;
  }
  & .icon {
    vertical-align:middle;
    width:18px;
    height:18px;
  }
  img {
    display:inline-block;
    width:24px;
    height:24px;
    border-radius:50%;
    overflow:hidden;
    margin-right:10px;
    vertical-align:middle;
  }
  > li {
    padding:5px 10px;
    list-style:none;
    display:inline-block;
    position:relative;
    & {
      .icon {
        @include animation(return90 .2s 0s linear forwards);
      }
      ul {
        background:transparent;
        @include animation(contract-modal .1s linear forwards);
      }
    }
    &:hover {
      background:#414348;
      .icon {
        @include animation(rotate90 .2s 0s linear forwards);
      }
      ul {
        background:darken(#414348,5%);
        @include animation(expand-modal .1s linear forwards);
      }
    }
    > ul {
      top:1.5rem;
      right:0;
      left:0;
      z-index:-1;
      max-height:0;
      overflow:hidden;
      position:absolute;
      li {
        display:block;
        padding:2px 10px 0 24px;
        font-size:.9rem;
        &:not(:last-of-type) {
          margin-right:10px;
          border-right:1px solid gray;
        }
        &.switch {
          padding-left:36px;
          background:url('#{$imgPath}/icns/switch.svg');
          background-position:0 2px;
        }
        &.icon {
          background-repeat:no-repeat;
          background-size:12px 12px;
        }
        ul {
          display:none;
        }
      }
    }
  }
}