.user {
  @include align-items(flex-start);
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(flex-end);
  @include flex-wrap(wrap);  
  z-index:0;
  font-weight: 300;
  position:fixed;
  min-width:250px;
  // To-do Mobile Interface for .user content
  list-style:none;
  z-index:2;
  margin:0 10px 0 0;
  padding: 5px 0;
  @include media($notebook) {
    @include flex-wrap(nowrap);
    padding:0;  
    min-width:174px;
    right:15px;
    top: 15px;
    z-index:4;
    background:transparent;
  }
  > li {
    @include transition(all 200ms ease);
    list-style:none;
    position:relative;
    margin-right: 0px;
    padding: 0;
    @include flex(0 0 100%);
    @include media($tablet) {
      @include flex(0 0 auto);
    }
    &.clientmenu {
      h6 {
        padding: 12px 20px 12px;
      }
      @include media($tablet) {
        height:auto;
        @include flex(1 0 225px);
        h6 {
          padding:12px 20px 22px;
        }
      }
    }
    &.currentuser {
      svg:not(.toggle) {
        width: 1.75rem;
        height: 1.5rem;
        float: left;
        margin-right: 10px;
        margin-top: -2px;
      }
    }
    &:hover, &.activated {
      svg.toggle {
        @include animation(rotate90 .2s 0s linear forwards);
      }
      > ul {
        @include animation(expand-modal .25s linear forwards);
        overflow-y:scroll;
      }
    }
    &.deactivated {
      svg.toggle {
        @include animation(rotate90 .2s 0s linear forwards);
      }
      > ul {
        @include animation(contract-modal .25s linear forwards);
        overflow-y:hidden;
      }
    }
    img {
      display:inline-block;
      width:24px;
      height:24px;
      border-radius:50%;
      overflow:hidden;
      margin-right:10px;
      vertical-align:middle;
    }
    h6 {
      margin-right: 0;
      display: block;
      background-color: transparent;
      border: 0;
      outline: none;
      padding: 12px 20px 12px;
    }
    // &:first-of-type h6 {
    //   padding:22px 20px 17px;
    //   @include media($tablet) {
    //     padding:12px 20px 22px;
    //   }
    // }
    svg.toggle {
      float:right;
      margin:0 0 0 10px;
      width: 1.4rem;
      position: relative;
      top: -3.5rem;
      height: 1.4rem;
      @include animation(return90 .2s 0s linear forwards);
      @include media($tablet) {
        top:0;
      }
    }
    > ul {
      width: 100%;
      list-style:none;
      padding-left:0;
      top:2rem;
      right:0;
      z-index:1;
      max-height:0;
      overflow:hidden;
      left: auto;
      margin: 0;
      position: absolute;;
      padding-top: 0 !important;
      background-color: white;
      @include animation(contract-modal .1s linear forwards);
      li {
        margin: 0;
        padding: 10px 20px;
        border: 0;
        cursor: pointer;
      }
    }
  }
  a {
    color:#ccc;
    text-decoration:none;
    @include transition(all 100ms ease-in 500ms);   
    &:hover {
      color:white;
    }
  }
  body.app & {
    a:link, a:visited {
      color:$topborder;
    }
    > li {
      svg.toggle {
        fill: $dkgray;
        -ms-transform: rotate(360deg); /* IE 9 */
        -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
        transform: rotate(360deg);
      }
      &:hover,
      &:hover {
        background-color: $white;
        box-shadow: 0px 0px 3px 0px $ltgray;
        h6 {
          border-bottom: 1px solid $ltgray;
        }
        > ul {
          > li {
            border-bottom: 1px solid $ltgray;
            &:hover, &:hover a {
              background-color: lighten($ltbg, 2%);
              color: $blue;         
            }
          }
        }
      }
    }
  }
  body.dashboard & {
    a:link, a:visited {
      color:$topborder;
    }
    .icon {
      fill: $white;
    }
    > li {
      &:hover,
      &.hover {
        background:$dkborder;
        .icon {
        }
        ul {
          background:darken($dkborder,5%);
          @include animation(expand-modal .25s linear forwards);
        }
      }
      
      &.deactivated {
        background-color: transparent;
        svg.toggle {
          @include animation(rotate90 .2s 0s linear forwards);
        }
        > ul {
          @include animation(contract-modal .25s linear forwards);
          overflow-y:hidden;
        }
      }

      &:hover {
        ul li {
          @include animation(show-text .1s linear forwards);
        }
      }
    }
  }
}