.user {
  font-weight: 300;
  position:absolute;
  right:15px;
  top:8px;
  min-width:174px;
  z-index:4;
  @include align-items(stretch);
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(flex-end);
  @include flex-wrap(nowrap);  
  // To-do Mobile Interface for .user content
  list-style:none;
  margin:0 10px 0 0;
  padding: 0;
  top: 15px;
  > li {
    @include transition(all 200ms ease);
    @include flex(0 0 auto);
    list-style:none;
    position:relative;
    margin-right: 0px;
    padding: 0;
    &.clientmenu {
      @include flex(1 0 175px);
    }
    &:hover {
      svg.toggle {
        @include animation(rotate90reverse .2s 0s linear forwards);
      }
      > ul {
        @include animation(expand-modal 1s linear forwards);
        overflow-y:scroll;
      }
    }
    img {
      display:inline-block;
      width:24px;
      height:24px;
      border-radius:50%;
      overflow:hidden;
      margin-right:10px;
      vertical-align:middle;
    }
    h6 {
      margin-right: 0;
      padding: 12px 20px 22px;
     display: block;
     background-color: transparent;
     border: 0;
     outline: none;
    }
    svg.toggle {
      float:right;
      margin:0 10px;
      width: 1.4rem;
      position: relative;
      top: 0;
      height: 1.4rem;
      @include animation(return90reverse .2s 0s linear forwards);
    }
    > ul {
      list-style:none;
      padding-left:0;
      top:2rem;
      right:0;
      z-index:-1;
      max-height:0;
      overflow:hidden;
      left: auto;
      margin: 0;
      position: static;
      padding-top: 0 !important;
      @include animation(contract-modal .1s linear forwards);
      li {
        margin: 0;
        padding: 10px 20px;
        border: 0;
        cursor: pointer;
      }
    }
  }
  body.app & {
    a:link, a:visited {
      color:$topborder;
    }
    > li {
      svg.toggle {
        fill: $dkgray;
      }
      &:hover,
      &:hover {
        background-color: $white;
        box-shadow: 0px 0px 3px 0px $ltgray;
        h6 {
          border-bottom: 1px solid $ltgray;
        }
        > ul {
          > li {
            border-bottom: 1px solid $ltgray;
            &:hover, &:hover a {
              background-color: lighten($ltbg, 2%);
              color: $blue;         
            }
          }
        }
      }
    }
  }
  body.dashboard & {
    a:link, a:visited {
      color:$topborder;
    }
    .icon {
      fill: $white;
    }
    > li {
      &:hover,
      &.hover {
        background:$dkborder;
        .icon {
        }
        ul {
          background:darken($dkborder,5%);
          @include animation(expand-modal .1s linear forwards);
        }
      }
      
      &:hover {
        ul li {
          @include animation(show-text .1s linear forwards);
        }
      }
    }
  }
  a {
    color:#ccc;
    text-decoration:none;
    @include transition(all 100ms ease-in 500ms);   
    &:hover {
      color:white;
    }
  }
}