// Rummelize Based on (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font: inherit;	vertical-align: baseline;}
// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}
body {	line-height: 1;}ol, ul {	list-style: none;}
table {	border-collapse: collapse;	border-spacing: 0;}

@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/neat/app/assets/stylesheets/neat";
//@import "fonts";
@import "mixins";
@import "colors";
@import "animations";
@import "defaults";
@import "header";
@import "user";
@import "navigation";
@import "primary";
@import "icons";
@import "table";
@import "pagination";

//@import "login";
@import "forms";

body.exchange {
  .canvas {
    padding:25px 35px 40px;
  }
  .field-group {
    border-width:1px 1px 0 1px;
    border-style:solid;
    border-color:#D7DDE5;
    @include align-items(stretch);
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-between);
    overflow:visible;
    &:last-of-type {
      border-width:1px;
    }
    > label {
      @include flex(0 0 33.3333%);
      background:#D7DDE5;
      font-size: 0.63em;
      font-weight: 400;
      letter-spacing: 1px;
      min-height: 40px;
      padding: 12px 20px;
      text-transform: uppercase;
      vertical-align: middle;
    }
    input:not([type="radio"]) {
      @include flex(1 1 64%);
      display: block;
      padding: 12px 20px;
      vertical-align: middle;
      font-size:1em;
      font-weight: 400;
    }
    > ul {
      @include flex(1 1 64%);
      @include align-items(stretch);
      @include display(flex);
      @include flex-direction(row);
      @include justify-content(space-between);
      > li {
        @include flex(0 1 50%);
        position:relative;
        vertical-align: middle;
        > div {
          min-height:40px;
          @include transition(all .1s linear);
          svg {
            @include transition(all .1s linear);
            right:0;
            fill:transparent;
          }
          label {
            font-size:1rem;
            font-weight: 400;
            padding: 12px 20px;
          }
           input[type="radio"],  input[type="checkbox"] {
            height:0;
            width:0;
            overflow:hidden;
            margin:0;
            padding:0;
            position:absolute;
            opacity:0;
          }
          .content {
            position:relative;
            top:0;
            background:white;
            max-height:0;
            padding:0 20px;
            overflow:hidden;
            ul {
              margin:20px -20px 0;
            }
            li {
              padding: 6px 20px;
              &:hover {
                background:#F2F4F5;
              }
              label {
                font-size: 0.63em;
                font-weight: 400;
                letter-spacing: 1px;
                min-height: 40px;
                text-transform: uppercase;
                vertical-align: middle;
                &:before {
                  border:2px solid #2662B5;
                  width:1em;
                  height:1em;
                  content:'';
                  border-radius:50%;
                  display:inline-block;
                  margin-right:6px;
                }
              }
            }
            > label {
              padding: 6px 0 6px 20px;
            }
          }
          &.activated {
            box-shadow:0 0 5px black;
            background:#3282F1;
            margin-top:-4px;
            z-index:2;
            > label {
              display: block;
              color:white;
            }
            .content {
              padding: 12px 20px;
              max-height:400px;
            }
            svg {
              fill:white;
              background-color: #2662B5;
              border-left: 1px solid #5B9BF4;
            }
          }
        }
        label {
          padding:0;
        }
      }
    }
  }
}