// Rummelize Based on (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font: inherit;	vertical-align: baseline;}
// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}
body {	line-height: 1;}ol, ul {	list-style: none;}
table {	border-collapse: collapse;	border-spacing: 0;}

@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/neat/app/assets/stylesheets/neat";
@import "fonts";
@import "mixins";
@import "colors";
@import "defaults";
@import "header";
@import "user";
@import "navigation";
@import "primary";
@import "icons";
@import "table";
@import "pagination";
@import "feedback";
@import "animations";

//@import "login";
@import "forms";

body.exchange {
  h2 {
    a {
      color:#616568;
    }
  }
  span.filename,
  span.budgetvalue {
    display: block;
    width: 100%;
    padding: 12px 20px 12px 45px;
  }
  .canvas {
    padding:25px 35px 40px;
    h3 {
      margin-bottom:12px;
    }
    h2 {
      position:relative;
      margin-bottom:30px;
    }
  }
  .audience-container:not(:last-child) {
    .supplamental {
     // display: none;
    }
  }
  // Campaign Creation Form
  .select-upload {
    position: relative;
    span.no-results {
      width: 120%;
      margin-left: 45px;
      padding: 10px;
      color: #D7DDE5;
    }
  }
  #campaign-name {
    small {
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      padding:12px 10px;
      font-size:.75rem;
    }
  }
  #campaign-goal {
    
  }
  #ad-content {
    .content {
      button.btn-addad {
        width: 100%;
        margin: 0;
        text-transform: uppercase;
        font-size: 0.63em;
        font-weight: 400;
      }
    }
    .ad-select {
      margin: 10px 0;
      label {
        padding: 0;
        width: 100%;
      }
      select {
        width: 100%;
        margin: 5px 0;
        padding: 10px;
        line-height: 1rem;
        background: #F2F4F5;
      }
    }
    .saturation-level {
      label {
        padding: 0;
        width: 100%;
        min-height:auto;
      }
    }
    .controls {
      @include clearfix;
      button {
        float: left;
        margin-right: 10px;
      }
    }
  }
  .submit-btn {
    padding: 0 !important;
    text-align: center !important;
  }
  .upload-btn,
  .submit-btn {
    width: 120px;
    top: 8px;
    right: 20px;
    border: 0;
    text-align: left;
    line-height: 1em;
    outline: none;
    cursor: pointer;
    text-align: right;
    height: 1.65rem;
    z-index: 2;
    padding: 0 25px 0 0;
    margin: 0;
    font-size: .75rem; 
    background-color: #49ad74;
  }
  .upload-btn {
    position: absolute;
    svg {
      background-color: #388356;
      border-right: 1px solid #6dbd90;
      position: absolute;
      top: 0;
      left: 0;
      fill: #fff;
      padding: 0.45em;
      box-sizing: border-box;
      width: 1.75rem;
      height: 1.65rem;
    }
  }
  .field-group {
    border-width:1px;
    position: relative;
    border-style:solid;
    border-color:#D7DDE5;
    @include align-items(stretch);
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-between);
    overflow:visible;
    position:relative;
    height: 42px;
    @include transition(all .1s linear);
    &.inactive {
      opacity:0;
    }
    &.active {
      margin:30px 0;
    }
    &.completed  {
      &:not(:last-child) {
        border-bottom-width:0;
      }
      input:not(:checked) + label {
        opacity:.6;
      }
    }
    div.shortenBox {
      label {
        svg {
          fill:white;
          @include transition(all .1s linear);
          right:0;
          &.info, &.checkmark, &.down {
            display:none;
          }
        }
      }
      &.activated {
        label {
          svg {
            &.info {
              display:block;
            }
            &.down {
              display:block;
            }
            &.checkmark {
              display:none;
            }
          }
        }
      }
    }
    &.set {
      div.shortenBox {
        &.activated {
          input:checked + label {
            svg {
              fill:white;
              &.info {
                display:none;
              }
              &.checkmark {
                display:block;
              }
            }
          }
        }
        input:checked + label {
          color:#2f3032;
          svg {
            fill:#616568;
            &.info {
              display:none;
            }
            &.checkmark {
              display:block;
            }
          }
        }
      }
    }
    &:last-of-type {
      border-width:1px;
    }
    select {
      padding-left:0;
      option:checked:not(:disabled) {
        color:#616568;
      }
    }
    span.no-audience {
      width: 100%;
      border: 0;
      font-size: 1em;
      color: #2f3032;
      padding: 12px 20px 12px 45px;
      line-height: 1em;
      font-weight: normal !important;

    }
    > label {
      @include flex(0 0 33.3333%);
      background:#D7DDE5;
      font-size: 0.63em;
      font-weight: 400;
      letter-spacing: 1px;
      min-height: 40px;
      padding: 12px 20px;
      text-transform: uppercase;
      vertical-align: middle;
    }
    input:not([type="radio"]), div.budgetvalue {
      @include flex(1 1 64%);
      display: block;
      padding: 12px 20px 12px 45px;
      vertical-align: middle;
      font-size:1em;
      font-weight: 400;
    }  
    > ul {
      @include flex(1 1 64%);
      @include align-items(stretch);
      @include display(flex);
      @include flex-direction(row);
      @include justify-content(space-between);
      > li {
        @include flex(0 1 50%);
        position:relative;
        vertical-align: middle;
        > div {
          min-height:40px;
          @include transition(all .1s linear);
          label {
            font-size:1rem;
            font-weight: 400;
            padding: 12px 20px 12px 45px;
          }
           input[type="radio"],  
           input[type="checkbox"] {
            height:0;
            width:0;
            overflow:hidden;
            margin:0;
            padding:0;
            position:absolute;
            opacity:0;
          }
          .content {
            position:relative;
            top:0;
            background:white;
            max-height:0;
            padding:0 20px;
            overflow:hidden;
            ul {
              margin:20px -20px 0;
            }
            li {
              padding: 6px 20px;
              &:hover {
                background:#F2F4F5;
              }
              &.selected {
                label {

                  &:before {
                    border:2px solid #2662B5;
                    background-color: #2662B5;
                  }
                }
              }
              label {
                font-size: 0.63em;
                font-weight: 400;
                letter-spacing: 1px;
                padding: 12px 20px;
                min-height: 40px;
                text-transform: uppercase;
                vertical-align: middle;
                &:before {
                  border:2px solid #2662B5;
                  width:1em;
                  height:1em;
                  border-radius:50%;
                  display:inline-block;
                  margin-right:6px;
                }
              }
            }
            > label {
              padding: 6px 0 6px 20px;
            }
          }
        }
        label {
          padding:0;
        }
      }
    }
    .selected {
      color:white;
      background:#3282F1;
      > label {
        display: block;
      }
      input {
        color:white;
      }
      .content {
        padding: 12px 20px;
        max-height:400px;
      }
    }
    .activated {
      box-shadow:0 0 5px black;
      background:#3282F1;
      margin-top:-4px;
      z-index:2;
      min-width:237px;
      > label {
        display: block;
        color:white;
      }
      .content {
        padding: 12px 20px;
        max-height:400px;
      }            
      svg {
        background-color: #2662B5;
        border-left: 1px solid #5B9BF4;
      }
    }
    .deactivated {
      z-index:1;
    }
    svg.toggle {
      position:absolute;
      left:calc(33.3333% + 20px);
      top:10px;
      bottom:10px;
      width:20px;
      height:20px;
      fill:#72767A;
    }
    &.set#ad-content {
      li:not(.set) {
        @include flex-basis(0);
        @include flex-grow(0);
        overflow:hidden;
      }
    }
    li.set {
      @include flex-grow(1);
      @include transition(all, .1s linear);
      > div {
        overflow:hidden;
      }
      input:checked + label {
        svg {
          fill:#616568;
          &.info {
            display:none;
          }
          &.checkmark {
            display:block;
          }
        }
      }

      &:not(:last-child) {
        border-right:1px solid #d7dde5;
      }
      &:hover {
        span {
          display:inline;
        }
      }
    }
    
  }
  .main {
      @include align-items(space-between);
      @include display(flex);
      @include flex-direction(row);
      @include flex-wrap(wrap);
      @include justify-content(space-between);
      margin:0 -.5rem;
      li {
        margin:.5rem;
        @include flex(1 1 24%);
        padding:12px 20px;
        border:1px solid #d7dde5;
        background:white;
      }
  }
  .supplamental {
    position:absolute;
    top:100%;
    left:0;
    right:0;
    background:white;
    overflow:hidden;
    max-height:0;
    &.activated {
      max-height:500px;
      background:white;
     .content {
      margin:12px 20px;
      h5 {
        span {
          padding-left: 20px;
          color: #D7DDE5;
        }
      }
      > * {
        margin:12px 0;
      }
      }
    }
  }

  .set {
    position:relative;
    div.settings {
      opacity:1;
      display:block;
      cursor:pointer;
      position:absolute;
      top:50%;
      right:50px;
      z-index:30000;
      svg {
        width: 18px;
        height: 18px;
        margin-top:-9px;
        fill:#616568;
        background:transparent;
      }
    }
    .selected.deactivated {
      width:auto;
    }
    button {
      opacity:0;
    }
    span {
      display:none;
      margin-left:12px;
      font-size: 0.63em;
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: uppercase;
      vertical-align: middle;
    }
  }
  
  
  // Add Advertisment
  .ad-type {
    div.shortenBox {
      &:hover {
        input + label {
          svg {
            background-color: #2662B5;
            border-left: 1px solid #5B9BF4;
            fill:white;
            &.info {
              display:block;
            }
            &.down {
              display:block;
            }
            &.checkmark {
              display:none;
            }
          }
        }
      }
      input:not(:checked) + label {
        svg {
          @include transition(all .1s linear);
          right:0;
        }
      }
      input:checked + label {
        svg {
          fill:#616568;
          &.info {
            display:none;
          }
          &.down {
            display:none;
          }
          &.checkmark {
            display:block;
          }
        }
        &:hover {
          svg {
            fill:white;
          }
        }
      }
      
    }
    input[type="radio"] + label {
      transition: all 0.1s linear 0s;
      &:hover {
        color:white;
        box-shadow:0 0 5px black;
        background:#3282F1;
        z-index:2;
      }
    }
    label {
      svg {
      }
    }
    
    input[type="checkbox"]:not(:checked) + label:hover {
      margin-top:-4px;
    }   
    input[type="checkbox"]:checked + label {
      color:white;
      background:#3282F1;
      z-index:2;
      min-width:237px;
      &:hover  {
        box-shadow:none;
        
      }
    }
  }
  // Ad Content Upload 
  table {
    thead {
      background:#d7dde5;
    }
    tr {
      border-color:#d7dde5;
      border-style:solid;
      border-width:1px 0 1px 0;
    }
    td, th {
      padding:0;
      position:relative;
      &:first-of-type {
      }
      * {
        padding:12px 20px;
      }
    }
  }

  // Datepicker
  #days-of-flight {
    input.ng-datepicker-input {
      position:absolute;
      top:0;
      left:0;
      background:transparent;
      max-width:196px;
      padding-right:0;
    }
    li > div > div:not(.ng-datepicker) {
      position:absolute;
      top:0;
      right:0;
      left:0;
    }
    .activate {
      svg {
        fill:#f2f4f5;
        right: 0;
        transition: all 0.1s linear 0s;
      }
    }
    .activated {
      input.ng-datepicker-input {
        max-width:120px;
      }
    }
    .deactivated .ng-datepicker {
      // @include animation(contract-modal .3s linear forwards);
    }
    .activated {
      background:#3282F1;
      input.ng-datepicker-input {
        color:white;
      }
    }
    .selected {
      background:transparent;
      input.ng-datepicker-input {
        color:#616568;
      }
    }
    .ng-datepicker {
        // @include animation(expand-modal .5s linear forwards);
        position:absolute;
        top:0;
        left:0;
        text-align:center;
        z-index:2;
        .controls {
          background:#3282F1;
          color:white;
          font-size: 0.63em;
          font-weight: 700;
          letter-spacing: 1px;
          line-height:1rem;
          height: 40px;
          padding: 12px 20px;
          text-transform: uppercase;
          vertical-align: baseline;
          div.left, div.right {
            display:inline-block;
            width:20px;
          }
          .prev-year-btn, .next-year-btn {
            display:none;
          }
          svg {
            position:relative;
            border:0;
            background:transparent;
            fill:white;
            display:inline-block;
            left:auto;
            padding:0;
            top:auto;
            bottom:auto;
            vertical-align:middle;
            width:20px;
            height:20px;
          }
        }
        .calendar-container {
          background-color: white;
        }
        .day-names {
          background:white;
          padding: 12px 10px 0;
          @include align-items(space-between);
          @include display(flex);
          @include flex-direction(row);
          @include flex-wrap(nowrap);
          @include justify-content(flex-start);
          > span {
            display:block;
            width: 14.25%;
            padding:5px;

          }
        }
        .calendar {
          background:white;
          padding:0 10px 12px;
          @include align-items(space-between);
          @include display(flex);
          @include flex-direction(row);
          @include flex-wrap(wrap);
          @include justify-content(flex-start);
          > span  {
            width: 12.25%;
            display:block;
            padding: 5px;
            margin: 4px 1%;
            background:#f2f4f5;
            &.notvalid {
              background: #FFFFFF;
              opacity:.6;
              cursor: default;
            }
            > span {
              display:block;
              padding:2px 5px;
            }
          }
        }
      }
    .activated, .selected {
      height: 100%;
      svg {
        //fill: #f2f4f5;
      }
      
    }
  }

  // User Navigation
  .button {
    background:#3282f1;
  	font-size: .75em;
    line-height:1em;
  	height: 1.65rem;
    vertical-align:center;
    padding:6px 18px 0;
    color:white;
    border:0;
    cursor:pointer;
    display:inline-block;
    margin-top:1rem;
    &.delete {
      background:#f45454;
      
    }
  }
  .special-option {
    display:none;
  }
}
@import "footer";