// FOOTER v2.0

.revere__footer {
  @include flex(1 0 auto);
	margin: -14em 0 0;
	padding: 7em 1.3625em 1.3625em;
  background-color:$ltbg;
  background-position:center rem(16px);
  background-repeat:no-repeat;
	background-size: rem(49px) rem(60px);
	font-size: 0.9em;
  text-align: center;
  position: relative;
  z-index: 2;
  body.app & {
    color: $topborder;
  }
  body.dashboard & {
    color: $dktext;
  }
  body.visible-nav & {
    margin-left:270px;
  }
  @include media($notebook) {
  	margin: -14em 0 0 270px;
  }
	a {
    body.app & {
  		color: $bluedarktint;
    }
    body.dashboard & {
      color: $dkbtnhover;
    }
	}
  &--list {
		margin:1em auto;
    &-item {
			font-size: 0.8em;
		  padding: .125em .5em;
			@include media($tablet) {
				display:inline-block;
				vertical-align:top;
        body.app & {
  				border-right:1px solid $greylt;
        }
        body.dashboard & {
  				border-right:1px solid $dklabelbg;
        }
				&:last-of-type {
					border:0;
				}
			}
    }
  }

}
