// Depricate v3

.revere__footer {
  @include flex(1 0 auto);
	margin: -14em 0 0;
	padding: 7em 1.3625em 1.3625em;
  background:url('/img/revmsg-logo@2x.png');
  background-color:$action-200;
  background-position:center rem(16px);
  background-repeat:no-repeat;
	background-size: rem(49px) rem(60px);
	font-size: 0.9em;
  text-align: center;
  position: relative;
  z-index: 2;
  body.app & {
    color: $mg-100;
  }
  body.dashboard & {
    color: $mg-200;
  }
  body.visible-nav & {
    margin-left:270px;
  }
  @include media($notebook) {
  	margin-left:270px;
  }
	a {
		color: $action-200;
	}
  &--list {
		margin:1em auto;
    &-item {
			font-size: 0.8em;
		  padding: .125em .5em;
			@include media($tablet) {
				display:inline-block;
				vertical-align:top;
  			border-right:1px solid $mg-100;
        &:last-of-type {
					border:0;
				}
			}
    }
  }

}
