//@mixin bgimg { // Text indent when using background image
//  text-indent:-9999em;
//  overflow:hidden;
//}
body.revere {
  @import "../helpers/revere_logo";
  &.visible-nav > header {
    margin-left:270px;
    @include media($tablet) {
      margin-left:0;
    }
  }
  > header {
    padding:25px 0 20px;
    position:fixed;
    right:0;
    left:0;
    z-index:2;
    background:$navbg;
    width:100%;
    @include transition(all .2s ease-in);
    @include media($notebook) {
      background:transparent;
  		width: 270px;
      z-index:initial;
    }
    &:before {
     position:fixed;
     top:0;
     right:0;
     left:0;
     height:4px;
     background:$topborder;
     z-index:3;
     content:''; 
    }
    h1.logo {
      position:relative;
      z-index:3;
      @include bgimg;
      background-repeat:no-repeat;
      background-size:auto 100%;
      background-position:center center;
      height:20px;
      min-width:250px;
      margin:0;
      float:right;
      @include media($tablet) {
        min-width:270px;
        margin-right:20px;
        height:18px;
        float:left;
      }
      a {
        display:block;
      }
    }
  }
}

.page-header {
	> button {
		margin-top: -10px;
	}
}
