.primary {
  max-width:100%;
  @include transition(all .2s ease-in);
  @include media($tablet) {
    @include flex(1 1 75%);
    min-height:100vh;
  }
  &__hed {
    &--title {
      margin-bottom:rem(29px);
      font-size: 2.25em;
      font-weight: bold;
    }
    &--nav {
      box-sizing:content-box;
      margin-top:rem(18px);
      border-bottom:rem(.5px) solid $fg-300;
      height:rem(29px);
    }
  }
  // Articles need readable line widths 
  // Need to be moved to their own module
//  article {
//    width:100%;
//    max-width:860px;
//    h1, h2 {
//      margin-top:30px;
//    }
//  }
}