// Needs a lot of Work

// Vertical Nav
// Background Grey #202123
// Border Right #191919
// Border bottom #333
// Font Colors #333 and #fff



// App Colors
// Grey's for the canvas area
$primarylt: #f2f4f5;
$primarymdlt:#d7dde5;
$primarymd:#a7afb8;
$primarymdk:#93989e;
$primarydk:#616568;


// Dashboard Colors
//  lightPrimary: #cccccc
//  primary: #dddddd
//  darkerPrimary: #90949a
//  darkestPrimary: #414348
//  headerPrimary: #a8adb5
//  bkgdPrimary: #2b2d30
//  bkgdSecondary: #202123
//  green: #61e699
//  red: #f45454
//  cta1: #50a1f7
//  cta2: #4aae74
//  cta3 #717171
//  cta4: #F49F54:
//  linkColor: #54e3f4
//  formBkgd: #47494d
//
//  border: #333333
//  topBorderGray: #535353; // Might remove this one. Not sure if its going to be used multiple times.
