.icon {
	background-repeat: no-repeat;
  fill:white;
  &.iconname {
    // Icon specific styles
  }
  .user & {
    vertical-align:middle;
    width:18px;
    height:18px;
  }
  .user .activated & {
    @include animation(rotate90 .1s 0s linear forwards);
  }
  .user .deactivated & {
    @include animation(return90 .1s 0s linear forwards);
  }
}

.icon-block {border:1px solid #555;display:inline-block;padding:0.30em;}