.user {
  position:absolute;
  right:15px;
  top:20px;
  // To-do Mobile Interface for .user content
  a {
    color:#ccc;
  }
  img {
    width:24px;
    height:24px;
    border-radius:50%;
    overflow:hidden;
    margin-right:10px;
    vertical-align:middle;
  }
  > ul {
    li {
      padding:2px 10px 0;
      line-height:1.5em;
      &:not(:last-of-type) {
        margin-right:10px;
        border-right:1px solid gray;
      }
      &.switch {
        padding-left:36px;
        background:url('#{$imgPath}/icns/switch.svg');
        background-position:0 2px;
      }
      &.icon {
        background-repeat:no-repeat;
        background-size:12px 12px;
      }
      ul {
        display:none;
      }
    }
    > li {
      display:inline-block;
    }
  }
}