// Forms need to be recoded almost from scratch.
// Here are a few things to note: 
// - Form fields have multiple states when appearing in the .canvas context

// Browser
input[type="number"],
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  @include appearance(none);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  line-height: normal;
}
::-moz-placeholder { /* Firefox 19+ */
  line-height: normal;
}
:-ms-input-placeholder { /* IE 10+ */
  line-height: normal;
}
:-moz-placeholder { /* Firefox 18- */
  line-height: normal;
}
input {
 &[type="text"],
 &[type="email"],
 &[type="password"],
 &[type="number"],
 &[type="search"],
 &[type="url"],
 &[type="tel"],
 &[type="submit"]  {
 	font-size: 1em;
 	color: $greydk;
 	padding: 10px;
 	line-height: 1em;
 }
 &[type="text"],
 &[type="email"],
 &[type="password"],
 &[type="number"],
 &[type="search"],
 &[type="url"],
 &[type="tel"] {
 	width: 100%;
 	border: 0;
  &:disabled {
    opacity:.8;
  }
 }
 &[type="submit"] {
  border:0;
  display:inline-block;
  background:$blue;
  color:$white;
  letter-spacing:rem(3px);
  text-transform:uppercase;
  padding:rem(18px) rem(40px);
  @include noiOS;
  cursor:pointer;
  @include transition( ease-in-out .3s);
  &:hover {
   background:$cta1;
  }
 }
}
.form {
  @import "set";
  
}