&__set {
  display:flex;
  flex-flow:row wrap;
  margin:rem(16px) 0;
  background:$fg-300;
  border:1px solid $fg-100;
  border-radius:2px;
  position: relative;
  @include media($tablet) {
    flex-wrap:nowrap;
    align-items:center;
    .minutemen & {
      flex-wrap: wrap;
    }
  }
  &--label {
    color: #1f2124;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 0.125em;
    font-weight: 400;
    font-size: 0.675em;
    padding: 0.35rem 1rem 0.4rem;
    box-sizing: border-box;
    flex:1 0 rem(288px);
     @include media($tablet) {
      padding:0 1.75rem 0 1rem;
      .minutemen & {
        padding: 10px 1rem;
      }
    }
    .minutemen & {
      padding: 10px 1rem;
      align-self: flex-start;
    }
  }
  &--input {
    outline: 0;
    color: #1f2124;
    font-size: 1em;
    padding: 0.65em 1rem;
    letter-spacing: 0.025em;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border-radius: 0 2px 2px 0;
    @include media($tablet) {
    }
  }
  &--check {
    width: 100%;
    padding: 10px;
    background-color: white;
    display:flex;
    flex-flow:row wrap;
    align-items: center;
    .minutemen & {
      width: calc(100% - 18rem);
    }
  }
  &--radio {
    width: 100%;
    padding: 10px;
    background-color: white;   
    display:flex;
    flex-flow:row wrap;
    align-items: center;
    &-item {
      margin-right: 30px;
    }
    .minutemen & {
      width: calc(100% - 18rem);
    }
  }
  &--textarea {
    resize: none;
    border: 0;
    outline: 0;
    color: #1f2124;
    font-size: 1em;
    padding: 0.65em 1rem;
    letter-spacing: 0.025em;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border-radius: 0 2px 2px 0;
    .minutemen & {
      width: calc(100% - 18rem);
    }
    @include media($tablet) {
    }
  }
  &--action {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  &--upload-container {
    &.column {
      .form__set--input {
        width: 100% !important;
      }
    }
  }
  .error {
    width: 100%;
    background-color: $notice;
    color: white;
    font-size: rem(12px);
    padding: rem(7px) rem(14px);
  }
}