// Colors http://pattern.reverehq.com/

// Navigation

$navbg:         #202123;
$navborder:     #191919;
$navliborder:   #2A2A2A;
$navlink:       #90949A;
$nav-active:    #61E699;
$nav-inactive:  #3A3B3E;
$topborder:     #575C64;
$white:         #FFFFFF;

// App Theme

$ltbg:          #F2F4F5;
$ltborder:      #D7DDE5;
$ltgray:        #E3E5E8;
$dkgray:        #676C74;
$lticon:        #B8BCBF;
$lticonhover:   #909599;
$text:          #222222;
$blue:          #4E97E2;  // Needs a better name
$bluehover:     #61A5EB;  // Needs a better name
$bluedarktint:  #3381D2;  // Needs a better name
$green:         #4AAE74;  // Needs a better name
$orange:        #F4952F;  // Needs a better name
$red:           #E54141;  // Needs a better name
$redhover:      #F44747;  // Needs a better name

// Dashboard Theme

$dkbg:          #2b2d30;
$dkborder:      #414348;
$dkheading:     #d0d5de;
$dklink:        #54e3f4;
$dklabelbg:     #47494d;
$dklabeltxt:    #cccccc;
$dkgreenbadge:  #49AE74;  // Needs a better name
$dkbtn:         #3282F1;
$dkbtnhover:    #50A1F7;
$dktext:        #DDDDDD;
$dkgreen:       #61e699;  // Needs a better name
$dkred:         #f45454;  // Needs a better name
$dksubhead:     #90949a;
$dkdisabled:    #202224;
$dkdropdown:    #35373b;