&__app {
  list-style:none;
  display:flex;
  flex-flow: row nowrap;
  justify-content:flex-start;
  align-items:stretch;
  font-weight: 300;
  min-width:250px;
  min-height:rem(29px);
  margin:0 rem(-15px) 0;
  &--item {
    @include transition(all 200ms ease);
    line-height:.8;
    list-style:none;
    position:relative;
    margin:0 rem(15px);
    @include flex(0 0 auto);
    &.active,
    &:hover {
      border-bottom: 3px solid $action-100;
    }
  }
  &--link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: rem(1px);
    color:$bg-200;
    display:inline-block;
    height:100%;
  }
  &--info {
    font-size:rem(10px);
    line-height:1.2;
    font-weight:500;
    color:$fg-500;
    background:$attn;
    vertical-align:top;
    margin-left:rem(4.65px);
    padding:rem(1px) rem(4px) rem(2px);
    border-radius:rem(2px);
    display:inline-block;
  }
}
