.action {
  &--secondary {
    border:0;
    background:$blue;
    color:$white;
    text-transform: none;
    padding:rem(12px) rem(24px);
    font-size: 1em;
    @include noiOS;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    cursor:pointer;
    @include transition( ease-in-out .3s);
    &:hover {
      background:$cta1;
    }
    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
  &--tertiary {
    border:0;
    background:$blue;
    color:$white;
    text-transform: none;
    padding: rem(6px) rem(15px);
    font-size: rem(13px);
    @include noiOS;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    cursor:pointer;
    @include transition( ease-in-out .3s);
    &:hover {
      background:$cta1;
    }
  }
  &--link {
    padding: 0;
    color: $blue;
    background-color: transparent;
    border: 0;
    font-size: inherit;
    &:hover {
      color: $bluehover;
    }
  }
}