.action {
  &--secondary,
  &--tertiary {
    border:0;
    background:$action-200;
    color: #fff;
    text-transform: none;
    @include noiOS;
    border-radius: rem(2px);
    -webkit-border-radius: rem(2px);
    cursor:pointer;
    @include transition( ease-in-out .3s);
    &:hover {
      background:$action-100;
    }
    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
  &--secondary {
    padding:rem(12px) rem(24px);
    font-size: 1em;
  }
  &--tertiary {
    padding: rem(6px) rem(15px);
    font-size: rem(13px);
  }
  &--link {
    padding: 0;
    color: $action-200;
    background-color: transparent;
    border: 0;
    font-size: inherit;
    text-decoration: none;
    &:hover {
      color: $black;
    }
  }
  &--small {
    padding:rem(6px) rem(15px);
    font-size: rem(11px);
  }
}