.feedback {
  padding: rem(9px) rem(16px) rem(11px);
  margin:0 0 rem(16px);
  position: relative;
//  color: $white;
  line-height: 1;
  font-size: rem(14.4px);
  a {
   &:link, &:visited &:hover {
//    color: $action-200 !important;
    text-decoration: underline;
   }
  }
  background:$white;
  border-color: $notice;
  border-width:rem(2px) rem(2px) rem(2px) rem(44px);
  border-style:solid;
  border-radius:2px;
  &.error {
    border-color: $error;
  }
  &.success {
    border-color: $success;
  }
  &.notice {
    border-color: $notice;
  }
  .icon.checkmark {
    width: 100px;
    height: auto;
    fill: white;
    position: absolute;
    top: 50%;
    left: -70px;
    transform: translateY(-50%);
  }
}
