.feedback {
  padding: 10px;
  color: $white;
  line-height: 1em;
  font-size: .9em;
  a {
   &:link, &:visited &:hover {
    color: $ltbg !important;
    text-decoration: underline;
   }
  }
  background-color: $green;
  &.error {
    background-color: $red;
  }
  &.success {
    background-color: $green;
  }
  &.notice {
    background-color: $blue;
  }
}
